<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cj.tzw.tag_uwb_m">

    <application>
        <activity
            android:name=".activity.TagSetActivity"
            android:label="@string/title_activity_tag_set"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>